.titulo-principal {
    box-shadow: 0px 2px 10px 1px black;
    padding: 20px;
    text-align:center;
    font-size: 30px;
    color: white;
}
.lista {
    display: flex;
    justify-content: center;
}
.lista li{
    padding: 10px;
    display: inline;
    margin: 35px;
}
.links {
    border: none;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: all 0.6s;
}
.links:hover {
    font-size: 19px;
    color: red;
}
.links:active {
    font-size: 17px;
    color: yellow;
}
header {
    background: rgb(18, 10, 143);
    position: relative;
}
main {
    background: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
footer {
    color: white;
    font-size: 19px;
    font-weight: bold;
    padding-top: 60px;
    position: relative;
    text-align: center;
    padding-bottom: 50px;
    background: blue;
}
